<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
  <title style="font-style: oblique; font-family: Time new roman">Luksuzna villa Tomi</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link style="width: 100px" href="img/favicon_gold.png" rel="icon">
  <link style="width: 100px" href="img/favicon_gold.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>
<body>

<!--==========================
    Header
  ============================-->
    <!--==========================
      SPLIT SECTION
    ============================-->
    <section id="about">
        <div class="container">
          <div class="section-header">
            <h2>View from above Split region
            
          </div>
          <div class="row">
            <div class="col-lg-6">
            
            </div>
  
   <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          
           <iframe src="https://player.vimeo.com/video/309115277?color=ffffff" width="100%" height="660" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  
          <div class="mask rgba-black-light"></div>
        </div>
     
      </div>
      </section>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>




<!--
<img style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" src="img/baustelle.jpg">
-->
</body>
</html>